#click {
  .resources {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-auto-flow: row;

    & > span {
      margin-right: 5px;
      width: max-content;

      &.resource {
        font-weight: bold;
      }
    }
  }

  #barker {
    font-size: 2rem;
    padding: 8px;
  }

  .tools {
    .name {
      font-weight: bold;
    }
  }
}
