body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;

  --bg-color: #eee;
  --text-color: black;
  --accent-color: #b520e7;
  --accent-text-color: var(--bg-color);

  @media (prefers-color-scheme: dark) {
    --bg-color: #333;
    --text-color: #ccc;
    --accent-text-color: black;
  }
}

header.main-header {
  display: block;
  padding: 4px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  display: flex;
  gap: 4px;

  a {
    color: inherit;
  }

  .spacer {
    margin-left: auto;
  }
}

a {
  text-decoration: none;
  color: var(--accent-color);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

main.page {
  margin: 8px;
}

abbr {
  cursor: help;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  
  .image {
    position: relative;
    padding: 4px;
    height: auto;

    .image-actual {
      display: block;
      width: 300px;
      height: 100%;
      object-fit: cover;
    }

    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4px;
      margin: 4px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
}

.image-full {
  .title, .tags-title {
    margin-bottom: 0;
  }

  .image-actual {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
