@import "./themes/pinkle.scss";

body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
}

header.main-header {
  display: block;
  padding: 4px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  display: flex;
  gap: 4px;

  a {
    color: inherit;
  }

  .spacer {
    margin-left: auto;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

#content {
  main.page {
    margin: 0 8px 8px 8px;
  }

  .index-info {
    margin: 8px;
  }
}

abbr {
  cursor: help;
}

.images-list {
  display: flex;
  flex-wrap: wrap;

  .image {
    position: relative;
    padding: 4px;
    height: auto;

    .image-actual {
      display: block;
      width: 300px;
      height: 100%;
      object-fit: cover;
    }

    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 4px;
      margin: 4px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
    }
  }
}

.image-full {
  .title,
  .tags-title {
    margin-bottom: 0;
  }

  .image-actual {
    width: 100%;
    max-height: 80vh;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.blog-post-list {
  .post {
    p {
      margin: 0;
    }

    .title {
      font-size: 1.2rem;
    }

    .short-desc {
      font-size: 0.9rem;
      font-style: italic;

      &:before {
        content: "└ ";
      }
    }

    .timestamp {
      font-style: italic;
    }
  }
}

.blog-post {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: max(1000px, 40%);

  .title,
  .tags-title {
    margin: 0;
  }

  .header-image-wrapper {
    color: var(--accent-text-color-neutral);
    background-color: var(--accent-color-neutral);
    font-style: italic;
    font-size: 1.2rem;
    margin-bottom: 8px;

    .short-desc {
      margin: 0;
      padding: 8px;
    }

    .header-image {
      width: 100%;
      max-height: 60vh;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  .content {
    text-indent: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-indent: 0;
    }

    .image {
      width: 100%;
      padding: 8px;
      background-color: var(--accent-color);
      text-indent: 0;
      box-sizing: border-box;
      margin: 8px;

      &.w50 {
        width: 50%;
      }

      img {
        width: 100%;
      }

      span {
        color: var(--accent-text-color);
      }
    }
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#pet-counter {
  display: none;
  position: fixed;
  bottom: 4px;
  right: 4px;
}
