<hr />
<div class="index-info">
	<h3>most recent blog posts</h3>
	<div class="blog-post-list">
		{{#each resources}}
		<div class="post">
			<p class="title"><a href="/blog/{{id}}">{{title}}</a></p>
			<p class="short-desc">{{desc}}</p>
		</div>
		{{/each}}
	</div>
</div>
