<hr>
<div class="index-info">
	<h3>most recent blog posts</h3>
	<div class="blog-post-list">
		{% for resource in resources %}
		<div class="post">
			<p class="title"><a href="/blog/{{resource.id}}">{{resource.title}}</a></p>
			<p class="timestamp">{{resource.readable_timestamp}}</p>
			<p class="short-desc">{{resource.desc}}</p>
		</div>
		{% endfor %}
	</div>
</div>
