body {
  font-family: sans-serif;
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  --bg-color: #eee;
  --text-color: black;
  --accent-color: #b520e7;
  --accent-text-color: var(--bg-color);
}
@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #333;
    --text-color: #ccc;
    --accent-text-color: black;
  }
}

header.main-header {
  display: block;
  padding: 4px;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  display: flex;
  gap: 4px;
}
header.main-header a {
  color: inherit;
}
header.main-header .spacer {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover, a:focus {
  text-decoration: underline;
}

main.page {
  margin: 8px;
}

abbr {
  cursor: help;
}
