<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="referrer" content="no-referrer">
	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>
	<header class="main-header">
		<span>
			<a class="name" href="/">Zyllian's Website</a> |
			<span class="pronouns">she/they</span>
		</span>
		<span class="spacer"></span>
		<a href="/blog/">Blog</a> |
		<a href="/images/">Images</a> |
		<a href="https://github.com/Zyllian/zyllian.github.io" rel="noopener noreferrer">Source</a>
	</header>
	<main class="page">
		{{{page}}}
	</main>
</body>

</html>
