<!DOCTYPE html>
<html lang="en">

<head>
	{{{head}}}
	<meta name="referrer" content="no-referrer">
	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>
	<header class="main-header">
		<span class="name">Zoey</span>'s website |
		<span class="pronouns">she/they</span>
	</header>
	<main class="page">
		{{{page}}}
	</main>
</body>

</html>
