<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="referrer" content="no-referrer">
	<link rel="stylesheet" href="/styles/index.css">
</head>

<body>
	<header class="main-header">
		<span>
			<a class="name" href="/">zyl's website</a> |
			<span class="pronouns">it(/she/they)</span>
		</span>
		<span class="spacer"></span>
		<a href="/blog/">blog</a> |
		<a href="/images/">images</a> |
		<a href="https://github.com/zyllian/zyllian.github.io" rel="noopener noreferrer">source</a>
	</header>
	<main class="page">
		{{{page}}}
	</main>
</body>

</html>
